*, html, body {
   background-color: blueviolet;
   color: aliceblue;
}

.container {
   text-align: center;
   padding: 2rem;
}

h3 {
   padding: 2rem;
}

.grid {
   display: flex;
   flex-wrap: wrap;
   height: 300px;
   width: 400px;
   text-align: center;
   margin: 0 auto;
}

@media only screen and (max-width: 456px) {
   .container {
      text-align: left;
   }
   .grid {
      width: 85%;
   }
   h1 {
      margin-left: 2rem;
   }
}