*, html, body {
   background-color: rgb(20, 4, 34);
   color: aliceblue;
}

.container {
   text-align: center;
   padding: 2rem;
}

h1, h3 {
   text-shadow: 1px 3px 5px gray;
}

h3 {
   padding: .5rem;
}

.grid {
   display: flex;
   flex-wrap: wrap;
   height: 300px;
   width: 400px;
   text-align: center;
   margin: 0 auto;
   box-shadow: 2px 4px 5px gray;
}

.footer {
   text-align: center;
   width: 100%;
   left: 0;
   bottom: 0;
   padding-top: 6rem;
}

.footer p {
   background-color: rgb(37, 3, 37);
   color: aliceblue;
   padding: 1rem;
   font-size: smaller;
}

.date-now{
   text-align: center;
   margin-top: 8rem;
}

@keyframes spin {
   from {
      transform: rotateY(0deg);
   }
   to {
      transform: rotateY(360deg);
   }
}

.imageSpin {
   animation-name: spin;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-duration: 5s;
}

@media only screen and (max-width: 456px) {
   .container {
      text-align: left;
      min-height: calc(100vh - 40px);
   }
   .grid {
      width: 85%;
      margin-left: 4.2rem;
      box-shadow: none;
   }
   h1, h3 {
      margin-left: 2rem;
   }
}